# Additional rules, which are solely npm related, to not bloat the package size.
.github/ISSUE
.github/ISSUE_ARCHIVE
.github/RELEASE_NOTES
.github/.sync-metadata.json

# Original content of the .gitignore file
# See http://help.github.com/ignore-files/ for more about ignoring files.

.env

package-lock.json

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings
.vscode/

#System Files
.DS_Store
Thumbs.db
